.warenkorb{
    background-color: #fff;

    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column1{
    margin-bottom: 8px;
}

.column2{
    display: flex;
    flex-direction: column;
}

.column2 p{
    text-align: right;

}

.product p,
.gesamtBetrag p{
    color: #2C2D2E;
}

.total{
    font-weight: bold;
    margin-top: 5px; 
}





.product img{
    width: 100px;
}

.description{
    width: 100%;
}

.spacer{
    width: 100%;
}

.paypal-button-container{
    width: 100%;
}

.gesamtBetrag{
    margin: 20px;
}

.gesamtBetragInner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}