@font-face{
	font-family: 'Avenir';
	src: url('fonts/Avenir_Next.ttc') format('tcc'),
}

*{
    margin: 0;
    padding: 0;;
}

body{
    font-family: Avenir Next;
    display: flex;
    background-color: #E9D3BC;
    color: #fff;
    flex-wrap: wrap;
    height: 100vh;
}

p{
    font-weight: 0;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 15px;
}
h1{
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #E9D3BC;
    margin-right: 20px;
}

button{
    padding: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    background-color: #939583;
    /* margin-top: 100px; */
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 5px;
}

button img{
    width: 30px;
}

button:hover{
    transform: scale(1.03);
    background-color: #777969;
    cursor: pointer;
}

footer{
    background-color: #fff;
    color: #E9D3BC;
    width: 100vw;
    display: flex;
    min-height: 50px;
}

footer .container{
    margin: auto;
    width: 1000px;  
    display: flex;
    grid-gap: 0px;
}

footer .container img{
    height: 20px;
    align-self: center;
}


nav{
    grid-column: 1 / 3;
    margin: 50px 0 20px 0;
}

nav img{
    width: 200px;
}

.container{
    margin: 50px auto 100px auto;
    width: 1000px;
    display: grid;
    grid-template-columns: 7fr 10fr;
    grid-gap: 0 6em;
}

.description{
    display: flex;
    height: 100%;
}

.spacer{
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    padding-bottom: 40px;
}


.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em
}

.image-large{
    min-width: 100%;

    overflow: hidden;
    grid-column: 1 / 5;
}

.image-preview{
   width: 100%;
   cursor: pointer;
   overflow: hidden;
}

.image-preview img{
    transition: all 0.25s ease;
    cursor: pointer;
}

.image-preview img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.image-large img, 
.image-preview img{
    width: 100%;
    cursor: pointer;
}

.paypal{
    min-height: 530px;

}
.paypal-button-container{
    width: 100%;
    margin: auto;
}

.description hr{
    border: 2px solid #fff;
    margin: 10px 0 30px 0;
    width: 100px;
}

.subtotal{
    font-size: 10px;  
    margin-top: 5px; 
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.spacer div .subtotal{
    opacity: 1;
}

.subtotal.visible{
    opacity: 1;
}

@media (max-width: 1000px) {
    .gallery, 
    .description,
    .warenkorb{
        grid-column: 1 / 3;
    }

    .warenkorb{
        margin-bottom: -100px;
    }

    .container{
        margin: 0 50px 100px 50px;
        grid-gap: 6em;
    }

    footer .container{
        margin: 20px 50px;
    }

    nav{
        margin: 50px 0 -60px 0;
    }
}