@font-face{
	font-family: 'Avenir', sans-serif;
	src: url('fonts/Avenir_Next.ttc') format('tcc'),
}

*{
    margin: 0;
    padding: 0;;
}

body{
    font-family: Avenir Next;
    display: flex;
    background-color: #E9D3BC;
    color: #fff;
    flex-wrap: wrap;
    height: 100vh;
    
}

.bg{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
}

.white .bg{
    z-index: -1;
}

.bg-bottom{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    z-index: 0;

}

p{
    font-weight: 0;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 15px;
}
h1{
    font-weight: 700;
}

footer a{
    text-decoration: none;
    color: #E9D3BC;
    margin-right: 20px;
}

button{
    padding: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    background-color: #939583;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 5px;
}

.payment{
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 15px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    transition: all 0.25s linear;
    background: #2C2E2F;
    padding: 5px;
}

.payment:hover{
    background-color: #37393a ;
    transform: scale(1);
}

.payment-confirm{
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 15px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    transition: all 0.25s linear;
    border: 1px solid #2C2E2F;
    color: #2C2E2F;
    background: #fff;
    padding: 5px;
}

.payment-confirm:hover{
    background-color: rgb(237, 237, 237) ;
    transform: scale(1);
}

.secondary{
    border: 3px solid #fff;
    color: #fff;
    background-color: #939583;
}

.secondary:hover{
    background-color: #939583;
}

button:hover{
    transform: scale(1.03);
    background-color: #777969;
    cursor: pointer;
}

footer{
    background-color: #fff;
    color: #E9D3BC;
    width: 100vw;
    display: flex;
    min-height: 50px;
}

footer .container{
    margin: auto;
    width: 1000px;  
    display: flex;
    grid-gap: 0px;
}

footer .container img{
    height: 20px;
    align-self: center;
}


nav{
    grid-column: 1 / 3;
    margin: 50px 0 20px 0;
}

nav img{
    width: 200px;
}

.container{
    margin: 50px auto 100px auto;
    width: 1000px;
    display: grid;
    grid-template-columns: 7fr 10fr;
    grid-gap: 0 6em;
}

.description{
    display: flex;
    height: 100%;
}

.spacer{
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    padding-bottom: 40px;
}




.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    height: 470px;
}

.image-large{
    min-width: 100%;

    overflow: hidden;
    grid-column: 1 / 5;
}

.image-preview{
   width: 100%;
   cursor: pointer;
   overflow: hidden;
}

.image-preview img{
    transition: all 0.25s ease;
    cursor: pointer;
}

.image-preview img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.image-large img, 
.image-preview img{
    width: 100%;
    cursor: pointer;
}

.paypal{
    min-height: 530px;

}
.paypal-button-container{
    width: 100%;
    margin: auto;
}

.description hr{
    border: 2px solid #fff;
    margin: 10px 0 30px 0;
    width: 100px;
}

.subtotal{
    font-size: 10px;  
    margin-top: 5px; 
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.comment{
    font-size: 12px;  
    margin-top: 5px; 
    color: #2C2D2E;
    

}

.spacer div .subtotal{
    opacity: 1;
}

.spacer .subtotal{
    opacity: 1;
}

.subtotal.visible{
    opacity: 1;
}

.more{
    background-color: white;
}

.pink{
    width: 100vw;
    background-color: #E9D3BC;

}

.green,
.green1,
.green2{
    width: 100vw;
    background-color: #939583;
}

.green .container{
    grid-template-columns: 10fr 7fr ;
}

.green1 .container{
    grid-template-columns: 7fr 10fr  ;
}

.scroll .subtotal{
    font-size: 12px;
}

.details{
    padding: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #777969;
    color: #fff;
    border-radius: 5px;
}

.details1{
    margin-top: 50px;
}


p a{
    color: white;
    font-weight: bold;
}

.details h3{
    grid-column: 1/3;
}

ul{
    margin-left: 50px;
}

.preis{
    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    .gallery, 
    .description,
    .warenkorb,
    .details,
    .details1{
        grid-column: 1 / 3;
    }


.bg{
    width: 200px;
}

    .warenkorb p{
        font-size: 14px;
    }

    .details1{
        margin-top: 100px;
    }

    .details p,
    .details ul{
        grid-column: 1/3;
    }

    .details ul{
        margin-left: 20px;
        margin-top: 20px;
    }

    .green1 .container{
        grid-gap: 0em;
    }

    .green .container{
        margin-top: 100px;
    }

    .column1{
        margin-left: 10px;
    }

    .warenkorb{
        margin-bottom: -100px;
    }

    .container{
        margin: 0 50px 100px 50px;
        grid-gap: 6em;
        width: unset;
    }

    footer .container{
        margin: 20px 50px;
    }

    nav{
        margin: 50px 0 -60px 0;
    }

    .gallery{
        height: 100%;
    }
}

@media (max-width: 400px) {
    .bg-bottom{
        width: 200px;
    }
}
.comment{
    margin-top: 20px;
}